DiarioSur/src/conf/xml-resources/web-service-references/ReviewWS/wsdl/localhost_8080/ReviewWS/ReviewWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ReviewWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ReviewWS/ReviewWS?xsd=1"/>
</xsd:schema>
</types>
<message name="countReviews">
<part name="parameters" element="tns:countReviews"/>
</message>
<message name="countReviewsResponse">
<part name="parameters" element="tns:countReviewsResponse"/>
</message>
<message name="editReview">
<part name="parameters" element="tns:editReview"/>
</message>
<message name="removeReview">
<part name="parameters" element="tns:removeReview"/>
</message>
<message name="findReview">
<part name="parameters" element="tns:findReview"/>
</message>
<message name="findReviewResponse">
<part name="parameters" element="tns:findReviewResponse"/>
</message>
<message name="findAllReviews">
<part name="parameters" element="tns:findAllReviews"/>
</message>
<message name="findAllReviewsResponse">
<part name="parameters" element="tns:findAllReviewsResponse"/>
</message>
<message name="createReview">
<part name="parameters" element="tns:createReview"/>
</message>
<message name="findRangeReviews">
<part name="parameters" element="tns:findRangeReviews"/>
</message>
<message name="findRangeReviewsResponse">
<part name="parameters" element="tns:findRangeReviewsResponse"/>
</message>
<portType name="ReviewWS">
<operation name="countReviews">
<input wsam:Action="http://ws/ReviewWS/countReviewsRequest" message="tns:countReviews"/>
<output wsam:Action="http://ws/ReviewWS/countReviewsResponse" message="tns:countReviewsResponse"/>
</operation>
<operation name="editReview">
<input wsam:Action="http://ws/ReviewWS/editReview" message="tns:editReview"/>
</operation>
<operation name="removeReview">
<input wsam:Action="http://ws/ReviewWS/removeReview" message="tns:removeReview"/>
</operation>
<operation name="findReview">
<input wsam:Action="http://ws/ReviewWS/findReviewRequest" message="tns:findReview"/>
<output wsam:Action="http://ws/ReviewWS/findReviewResponse" message="tns:findReviewResponse"/>
</operation>
<operation name="findAllReviews">
<input wsam:Action="http://ws/ReviewWS/findAllReviewsRequest" message="tns:findAllReviews"/>
<output wsam:Action="http://ws/ReviewWS/findAllReviewsResponse" message="tns:findAllReviewsResponse"/>
</operation>
<operation name="createReview">
<input wsam:Action="http://ws/ReviewWS/createReview" message="tns:createReview"/>
</operation>
<operation name="findRangeReviews">
<input wsam:Action="http://ws/ReviewWS/findRangeReviewsRequest" message="tns:findRangeReviews"/>
<output wsam:Action="http://ws/ReviewWS/findRangeReviewsResponse" message="tns:findRangeReviewsResponse"/>
</operation>
</portType>
<binding name="ReviewWSPortBinding" type="tns:ReviewWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="countReviews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editReview">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeReview">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findReview">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllReviews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createReview">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRangeReviews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReviewWS">
<port name="ReviewWSPort" binding="tns:ReviewWSPortBinding">
<soap:address location="http://localhost:8080/ReviewWS/ReviewWS"/>
</port>
</service>
</definitions>