DiarioSur/src/conf/xml-resources/web-service-references/ReviewWS/wsdl/localhost_8080/ReviewWS/ReviewWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="category" type="tns:category"/>

<xs:element name="countReviews" type="tns:countReviews"/>

<xs:element name="countReviewsResponse" type="tns:countReviewsResponse"/>

<xs:element name="createReview" type="tns:createReview"/>

<xs:element name="editReview" type="tns:editReview"/>

<xs:element name="event" type="tns:event"/>

<xs:element name="findAllReviews" type="tns:findAllReviews"/>

<xs:element name="findAllReviewsResponse" type="tns:findAllReviewsResponse"/>

<xs:element name="findRangeReviews" type="tns:findRangeReviews"/>

<xs:element name="findRangeReviewsResponse" type="tns:findRangeReviewsResponse"/>

<xs:element name="findReview" type="tns:findReview"/>

<xs:element name="findReviewResponse" type="tns:findReviewResponse"/>

<xs:element name="removeReview" type="tns:removeReview"/>

<xs:element name="review" type="tns:review"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="removeReview">
<xs:sequence>
<xs:element name="review" type="tns:review" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="review">
<xs:sequence>
<xs:element name="comment" type="xs:string" minOccurs="0"/>
<xs:element name="event1" type="tns:event" minOccurs="0"/>
<xs:element name="reviewPK" type="tns:reviewPK" minOccurs="0"/>
<xs:element name="score" type="xs:int"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="event">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="approved" type="xs:int"/>
<xs:element name="author" type="tns:user" minOccurs="0"/>
<xs:element name="category" type="tns:category" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="shopUrl" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:int"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reviewPK">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="event" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createReview">
<xs:sequence>
<xs:element name="review" type="tns:review" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editReview">
<xs:sequence>
<xs:element name="review" type="tns:review" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllReviews">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllReviewsResponse">
<xs:sequence>
<xs:element name="return" type="tns:review" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeReviews">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeReviewsResponse">
<xs:sequence>
<xs:element name="return" type="tns:review" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countReviews">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countReviewsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findReview">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findReviewResponse">
<xs:sequence>
<xs:element name="return" type="tns:review" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>