DiarioSur/web/WEB-INF/wsdl/localhost_8080/EventWS/EventWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="EventWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/EventWS/EventWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createEvent">
<part name="parameters" element="tns:createEvent"/>
</message>
<message name="removeEvent">
<part name="parameters" element="tns:removeEvent"/>
</message>
<message name="findRangeEvents">
<part name="parameters" element="tns:findRangeEvents"/>
</message>
<message name="findRangeEventsResponse">
<part name="parameters" element="tns:findRangeEventsResponse"/>
</message>
<message name="findEvent">
<part name="parameters" element="tns:findEvent"/>
</message>
<message name="findEventResponse">
<part name="parameters" element="tns:findEventResponse"/>
</message>
<message name="editEvent">
<part name="parameters" element="tns:editEvent"/>
</message>
<message name="findAllEvents">
<part name="parameters" element="tns:findAllEvents"/>
</message>
<message name="findAllEventsResponse">
<part name="parameters" element="tns:findAllEventsResponse"/>
</message>
<message name="countEvents">
<part name="parameters" element="tns:countEvents"/>
</message>
<message name="countEventsResponse">
<part name="parameters" element="tns:countEventsResponse"/>
</message>
<portType name="EventWS">
<operation name="createEvent">
<input wsam:Action="http://ws/EventWS/createEvent" message="tns:createEvent"/>
</operation>
<operation name="removeEvent">
<input wsam:Action="http://ws/EventWS/removeEvent" message="tns:removeEvent"/>
</operation>
<operation name="findRangeEvents">
<input wsam:Action="http://ws/EventWS/findRangeEventsRequest" message="tns:findRangeEvents"/>
<output wsam:Action="http://ws/EventWS/findRangeEventsResponse" message="tns:findRangeEventsResponse"/>
</operation>
<operation name="findEvent">
<input wsam:Action="http://ws/EventWS/findEventRequest" message="tns:findEvent"/>
<output wsam:Action="http://ws/EventWS/findEventResponse" message="tns:findEventResponse"/>
</operation>
<operation name="editEvent">
<input wsam:Action="http://ws/EventWS/editEvent" message="tns:editEvent"/>
</operation>
<operation name="findAllEvents">
<input wsam:Action="http://ws/EventWS/findAllEventsRequest" message="tns:findAllEvents"/>
<output wsam:Action="http://ws/EventWS/findAllEventsResponse" message="tns:findAllEventsResponse"/>
</operation>
<operation name="countEvents">
<input wsam:Action="http://ws/EventWS/countEventsRequest" message="tns:countEvents"/>
<output wsam:Action="http://ws/EventWS/countEventsResponse" message="tns:countEventsResponse"/>
</operation>
</portType>
<binding name="EventWSPortBinding" type="tns:EventWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRangeEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EventWS">
<port name="EventWSPort" binding="tns:EventWSPortBinding">
<soap:address location="http://localhost:8080/EventWS/EventWS"/>
</port>
</service>
</definitions>