DiarioSur/web/WEB-INF/wsdl/localhost_8080/EventWS/EventWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="category" type="tns:category"/>

<xs:element name="countEvents" type="tns:countEvents"/>

<xs:element name="countEventsResponse" type="tns:countEventsResponse"/>

<xs:element name="createEvent" type="tns:createEvent"/>

<xs:element name="editEvent" type="tns:editEvent"/>

<xs:element name="event" type="tns:event"/>

<xs:element name="findAllEvents" type="tns:findAllEvents"/>

<xs:element name="findAllEventsResponse" type="tns:findAllEventsResponse"/>

<xs:element name="findEvent" type="tns:findEvent"/>

<xs:element name="findEventResponse" type="tns:findEventResponse"/>

<xs:element name="findRangeEvents" type="tns:findRangeEvents"/>

<xs:element name="findRangeEventsResponse" type="tns:findRangeEventsResponse"/>

<xs:element name="removeEvent" type="tns:removeEvent"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="findRangeEvents">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeEventsResponse">
<xs:sequence>
<xs:element name="return" type="tns:event" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="event">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="approved" type="xs:int"/>
<xs:element name="author" type="tns:user" minOccurs="0"/>
<xs:element name="category" type="tns:category" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="shopUrl" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:int"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllEvents">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllEventsResponse">
<xs:sequence>
<xs:element name="return" type="tns:event" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEvent">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEventResponse">
<xs:sequence>
<xs:element name="return" type="tns:event" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeEvent">
<xs:sequence>
<xs:element name="event" type="tns:event" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countEvents">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countEventsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEvent">
<xs:sequence>
<xs:element name="event" type="tns:event" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEvent">
<xs:sequence>
<xs:element name="event" type="tns:event" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>