DiarioSur/src/conf/xml-resources/web-service-references/CategoryWS/wsdl/localhost_8080/CategoryWS/CategoryWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="category" type="tns:category"/>

<xs:element name="countCategories" type="tns:countCategories"/>

<xs:element name="countCategoriesResponse" type="tns:countCategoriesResponse"/>

<xs:element name="createCategory" type="tns:createCategory"/>

<xs:element name="editCategory" type="tns:editCategory"/>

<xs:element name="findAllCategories" type="tns:findAllCategories"/>

<xs:element name="findAllCategoriesResponse" type="tns:findAllCategoriesResponse"/>

<xs:element name="findCategory" type="tns:findCategory"/>

<xs:element name="findCategoryResponse" type="tns:findCategoryResponse"/>

<xs:element name="findRangeCategories" type="tns:findRangeCategories"/>

<xs:element name="findRangeCategoriesResponse" type="tns:findRangeCategoriesResponse"/>

<xs:element name="removeCategory" type="tns:removeCategory"/>

<xs:complexType name="createCategory">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCategory">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCategory">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countCategories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeCategories">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editCategory">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllCategories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>