DiarioSur/src/conf/xml-resources/web-service-references/CategoryWS/wsdl/localhost_8080/CategoryWS/CategoryWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="CategoryWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/CategoryWS/CategoryWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editCategory">
<part name="parameters" element="tns:editCategory"/>
</message>
<message name="removeCategory">
<part name="parameters" element="tns:removeCategory"/>
</message>
<message name="findCategory">
<part name="parameters" element="tns:findCategory"/>
</message>
<message name="findCategoryResponse">
<part name="parameters" element="tns:findCategoryResponse"/>
</message>
<message name="countCategories">
<part name="parameters" element="tns:countCategories"/>
</message>
<message name="countCategoriesResponse">
<part name="parameters" element="tns:countCategoriesResponse"/>
</message>
<message name="createCategory">
<part name="parameters" element="tns:createCategory"/>
</message>
<message name="findAllCategories">
<part name="parameters" element="tns:findAllCategories"/>
</message>
<message name="findAllCategoriesResponse">
<part name="parameters" element="tns:findAllCategoriesResponse"/>
</message>
<message name="findRangeCategories">
<part name="parameters" element="tns:findRangeCategories"/>
</message>
<message name="findRangeCategoriesResponse">
<part name="parameters" element="tns:findRangeCategoriesResponse"/>
</message>
<portType name="CategoryWS">
<operation name="editCategory">
<input wsam:Action="http://ws/CategoryWS/editCategory" message="tns:editCategory"/>
</operation>
<operation name="removeCategory">
<input wsam:Action="http://ws/CategoryWS/removeCategory" message="tns:removeCategory"/>
</operation>
<operation name="findCategory">
<input wsam:Action="http://ws/CategoryWS/findCategoryRequest" message="tns:findCategory"/>
<output wsam:Action="http://ws/CategoryWS/findCategoryResponse" message="tns:findCategoryResponse"/>
</operation>
<operation name="countCategories">
<input wsam:Action="http://ws/CategoryWS/countCategoriesRequest" message="tns:countCategories"/>
<output wsam:Action="http://ws/CategoryWS/countCategoriesResponse" message="tns:countCategoriesResponse"/>
</operation>
<operation name="createCategory">
<input wsam:Action="http://ws/CategoryWS/createCategory" message="tns:createCategory"/>
</operation>
<operation name="findAllCategories">
<input wsam:Action="http://ws/CategoryWS/findAllCategoriesRequest" message="tns:findAllCategories"/>
<output wsam:Action="http://ws/CategoryWS/findAllCategoriesResponse" message="tns:findAllCategoriesResponse"/>
</operation>
<operation name="findRangeCategories">
<input wsam:Action="http://ws/CategoryWS/findRangeCategoriesRequest" message="tns:findRangeCategories"/>
<output wsam:Action="http://ws/CategoryWS/findRangeCategoriesResponse" message="tns:findRangeCategoriesResponse"/>
</operation>
</portType>
<binding name="CategoryWSPortBinding" type="tns:CategoryWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CategoryWS">
<port name="CategoryWSPort" binding="tns:CategoryWSPortBinding">
<soap:address location="http://localhost:8080/CategoryWS/CategoryWS"/>
</port>
</service>
</definitions>