DiarioSur/web/WEB-INF/wsdl/localhost_8080/UserWS/UserWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="countUsers" type="tns:countUsers"/>

<xs:element name="countUsersResponse" type="tns:countUsersResponse"/>

<xs:element name="createUser" type="tns:createUser"/>

<xs:element name="editUser" type="tns:editUser"/>

<xs:element name="findAllUsers" type="tns:findAllUsers"/>

<xs:element name="findAllUsersResponse" type="tns:findAllUsersResponse"/>

<xs:element name="findRangeUsers" type="tns:findRangeUsers"/>

<xs:element name="findRangeUsersResponse" type="tns:findRangeUsersResponse"/>

<xs:element name="findUser" type="tns:findUser"/>

<xs:element name="findUserResponse" type="tns:findUserResponse"/>

<xs:element name="removeUser" type="tns:removeUser"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="findRangeUsers">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUser">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUser">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countUsersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUser">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>