DiarioSur/web/WEB-INF/wsdl/localhost_8080/UserWS/UserWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="UserWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/UserWS/UserWS?xsd=1"/>
</xsd:schema>
</types>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="findUser">
<part name="parameters" element="tns:findUser"/>
</message>
<message name="findUserResponse">
<part name="parameters" element="tns:findUserResponse"/>
</message>
<message name="findAllUsers">
<part name="parameters" element="tns:findAllUsers"/>
</message>
<message name="findAllUsersResponse">
<part name="parameters" element="tns:findAllUsersResponse"/>
</message>
<message name="countUsers">
<part name="parameters" element="tns:countUsers"/>
</message>
<message name="countUsersResponse">
<part name="parameters" element="tns:countUsersResponse"/>
</message>
<message name="findRangeUsers">
<part name="parameters" element="tns:findRangeUsers"/>
</message>
<message name="findRangeUsersResponse">
<part name="parameters" element="tns:findRangeUsersResponse"/>
</message>
<message name="editUser">
<part name="parameters" element="tns:editUser"/>
</message>
<portType name="UserWS">
<operation name="removeUser">
<input wsam:Action="http://ws/UserWS/removeUser" message="tns:removeUser"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://ws/UserWS/createUser" message="tns:createUser"/>
</operation>
<operation name="findUser">
<input wsam:Action="http://ws/UserWS/findUserRequest" message="tns:findUser"/>
<output wsam:Action="http://ws/UserWS/findUserResponse" message="tns:findUserResponse"/>
</operation>
<operation name="findAllUsers">
<input wsam:Action="http://ws/UserWS/findAllUsersRequest" message="tns:findAllUsers"/>
<output wsam:Action="http://ws/UserWS/findAllUsersResponse" message="tns:findAllUsersResponse"/>
</operation>
<operation name="countUsers">
<input wsam:Action="http://ws/UserWS/countUsersRequest" message="tns:countUsers"/>
<output wsam:Action="http://ws/UserWS/countUsersResponse" message="tns:countUsersResponse"/>
</operation>
<operation name="findRangeUsers">
<input wsam:Action="http://ws/UserWS/findRangeUsersRequest" message="tns:findRangeUsers"/>
<output wsam:Action="http://ws/UserWS/findRangeUsersResponse" message="tns:findRangeUsersResponse"/>
</operation>
<operation name="editUser">
<input wsam:Action="http://ws/UserWS/editUser" message="tns:editUser"/>
</operation>
</portType>
<binding name="UserWSPortBinding" type="tns:UserWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="UserWS">
<port name="UserWSPort" binding="tns:UserWSPortBinding">
<soap:address location="http://localhost:8080/UserWS/UserWS"/>
</port>
</service>
</definitions>