DiarioSur/web/WEB-INF/wsdl/localhost_8080/AgendaWS/AgendaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="AgendaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/AgendaWS/AgendaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createevent">
<part name="parameters" element="tns:createevent"/>
</message>
<message name="editusers">
<part name="parameters" element="tns:editusers"/>
</message>
<message name="countusers">
<part name="parameters" element="tns:countusers"/>
</message>
<message name="countusersResponse">
<part name="parameters" element="tns:countusersResponse"/>
</message>
<message name="createusers">
<part name="parameters" element="tns:createusers"/>
</message>
<message name="findusers">
<part name="parameters" element="tns:findusers"/>
</message>
<message name="findusersResponse">
<part name="parameters" element="tns:findusersResponse"/>
</message>
<message name="findAllusers">
<part name="parameters" element="tns:findAllusers"/>
</message>
<message name="findAllusersResponse">
<part name="parameters" element="tns:findAllusersResponse"/>
</message>
<message name="findRangeusers">
<part name="parameters" element="tns:findRangeusers"/>
</message>
<message name="findRangeusersResponse">
<part name="parameters" element="tns:findRangeusersResponse"/>
</message>
<message name="removeusers">
<part name="parameters" element="tns:removeusers"/>
</message>
<message name="findpreferences">
<part name="parameters" element="tns:findpreferences"/>
</message>
<message name="findpreferencesResponse">
<part name="parameters" element="tns:findpreferencesResponse"/>
</message>
<message name="countpreferences">
<part name="parameters" element="tns:countpreferences"/>
</message>
<message name="countpreferencesResponse">
<part name="parameters" element="tns:countpreferencesResponse"/>
</message>
<message name="findcategory">
<part name="parameters" element="tns:findcategory"/>
</message>
<message name="findcategoryResponse">
<part name="parameters" element="tns:findcategoryResponse"/>
</message>
<message name="countcategory">
<part name="parameters" element="tns:countcategory"/>
</message>
<message name="countcategoryResponse">
<part name="parameters" element="tns:countcategoryResponse"/>
</message>
<message name="findAllcategory">
<part name="parameters" element="tns:findAllcategory"/>
</message>
<message name="findAllcategoryResponse">
<part name="parameters" element="tns:findAllcategoryResponse"/>
</message>
<message name="findevent">
<part name="parameters" element="tns:findevent"/>
</message>
<message name="findeventResponse">
<part name="parameters" element="tns:findeventResponse"/>
</message>
<message name="editevent">
<part name="parameters" element="tns:editevent"/>
</message>
<message name="removeevent">
<part name="parameters" element="tns:removeevent"/>
</message>
<message name="editcategory">
<part name="parameters" element="tns:editcategory"/>
</message>
<message name="editpreferences">
<part name="parameters" element="tns:editpreferences"/>
</message>
<message name="findAllevent">
<part name="parameters" element="tns:findAllevent"/>
</message>
<message name="findAlleventResponse">
<part name="parameters" element="tns:findAlleventResponse"/>
</message>
<message name="createcategory">
<part name="parameters" element="tns:createcategory"/>
</message>
<message name="eventByuser">
<part name="parameters" element="tns:eventByuser"/>
</message>
<message name="eventByuserResponse">
<part name="parameters" element="tns:eventByuserResponse"/>
</message>
<message name="findRangeevent">
<part name="parameters" element="tns:findRangeevent"/>
</message>
<message name="findRangeeventResponse">
<part name="parameters" element="tns:findRangeeventResponse"/>
</message>
<message name="removecategory">
<part name="parameters" element="tns:removecategory"/>
</message>
<message name="countevent">
<part name="parameters" element="tns:countevent"/>
</message>
<message name="counteventResponse">
<part name="parameters" element="tns:counteventResponse"/>
</message>
<message name="removepreferences">
<part name="parameters" element="tns:removepreferences"/>
</message>
<message name="createpreferences">
<part name="parameters" element="tns:createpreferences"/>
</message>
<message name="findRangecategory">
<part name="parameters" element="tns:findRangecategory"/>
</message>
<message name="findRangecategoryResponse">
<part name="parameters" element="tns:findRangecategoryResponse"/>
</message>
<message name="findRangepreferences">
<part name="parameters" element="tns:findRangepreferences"/>
</message>
<message name="findRangepreferencesResponse">
<part name="parameters" element="tns:findRangepreferencesResponse"/>
</message>
<message name="findAllpreferences">
<part name="parameters" element="tns:findAllpreferences"/>
</message>
<message name="findAllpreferencesResponse">
<part name="parameters" element="tns:findAllpreferencesResponse"/>
</message>
<portType name="AgendaWS">
<operation name="createevent">
<input wsam:Action="http://ws/AgendaWS/createevent" message="tns:createevent"/>
</operation>
<operation name="editusers">
<input wsam:Action="http://ws/AgendaWS/editusers" message="tns:editusers"/>
</operation>
<operation name="countusers">
<input wsam:Action="http://ws/AgendaWS/countusersRequest" message="tns:countusers"/>
<output wsam:Action="http://ws/AgendaWS/countusersResponse" message="tns:countusersResponse"/>
</operation>
<operation name="createusers">
<input wsam:Action="http://ws/AgendaWS/createusers" message="tns:createusers"/>
</operation>
<operation name="findusers">
<input wsam:Action="http://ws/AgendaWS/findusersRequest" message="tns:findusers"/>
<output wsam:Action="http://ws/AgendaWS/findusersResponse" message="tns:findusersResponse"/>
</operation>
<operation name="findAllusers">
<input wsam:Action="http://ws/AgendaWS/findAllusersRequest" message="tns:findAllusers"/>
<output wsam:Action="http://ws/AgendaWS/findAllusersResponse" message="tns:findAllusersResponse"/>
</operation>
<operation name="findRangeusers">
<input wsam:Action="http://ws/AgendaWS/findRangeusersRequest" message="tns:findRangeusers"/>
<output wsam:Action="http://ws/AgendaWS/findRangeusersResponse" message="tns:findRangeusersResponse"/>
</operation>
<operation name="removeusers">
<input wsam:Action="http://ws/AgendaWS/removeusers" message="tns:removeusers"/>
</operation>
<operation name="findpreferences">
<input wsam:Action="http://ws/AgendaWS/findpreferencesRequest" message="tns:findpreferences"/>
<output wsam:Action="http://ws/AgendaWS/findpreferencesResponse" message="tns:findpreferencesResponse"/>
</operation>
<operation name="countpreferences">
<input wsam:Action="http://ws/AgendaWS/countpreferencesRequest" message="tns:countpreferences"/>
<output wsam:Action="http://ws/AgendaWS/countpreferencesResponse" message="tns:countpreferencesResponse"/>
</operation>
<operation name="findcategory">
<input wsam:Action="http://ws/AgendaWS/findcategoryRequest" message="tns:findcategory"/>
<output wsam:Action="http://ws/AgendaWS/findcategoryResponse" message="tns:findcategoryResponse"/>
</operation>
<operation name="countcategory">
<input wsam:Action="http://ws/AgendaWS/countcategoryRequest" message="tns:countcategory"/>
<output wsam:Action="http://ws/AgendaWS/countcategoryResponse" message="tns:countcategoryResponse"/>
</operation>
<operation name="findAllcategory">
<input wsam:Action="http://ws/AgendaWS/findAllcategoryRequest" message="tns:findAllcategory"/>
<output wsam:Action="http://ws/AgendaWS/findAllcategoryResponse" message="tns:findAllcategoryResponse"/>
</operation>
<operation name="findevent">
<input wsam:Action="http://ws/AgendaWS/findeventRequest" message="tns:findevent"/>
<output wsam:Action="http://ws/AgendaWS/findeventResponse" message="tns:findeventResponse"/>
</operation>
<operation name="editevent">
<input wsam:Action="http://ws/AgendaWS/editevent" message="tns:editevent"/>
</operation>
<operation name="removeevent">
<input wsam:Action="http://ws/AgendaWS/removeevent" message="tns:removeevent"/>
</operation>
<operation name="editcategory">
<input wsam:Action="http://ws/AgendaWS/editcategory" message="tns:editcategory"/>
</operation>
<operation name="editpreferences">
<input wsam:Action="http://ws/AgendaWS/editpreferences" message="tns:editpreferences"/>
</operation>
<operation name="findAllevent">
<input wsam:Action="http://ws/AgendaWS/findAlleventRequest" message="tns:findAllevent"/>
<output wsam:Action="http://ws/AgendaWS/findAlleventResponse" message="tns:findAlleventResponse"/>
</operation>
<operation name="createcategory">
<input wsam:Action="http://ws/AgendaWS/createcategory" message="tns:createcategory"/>
</operation>
<operation name="eventByuser">
<input wsam:Action="http://ws/AgendaWS/eventByuserRequest" message="tns:eventByuser"/>
<output wsam:Action="http://ws/AgendaWS/eventByuserResponse" message="tns:eventByuserResponse"/>
</operation>
<operation name="findRangeevent">
<input wsam:Action="http://ws/AgendaWS/findRangeeventRequest" message="tns:findRangeevent"/>
<output wsam:Action="http://ws/AgendaWS/findRangeeventResponse" message="tns:findRangeeventResponse"/>
</operation>
<operation name="removecategory">
<input wsam:Action="http://ws/AgendaWS/removecategory" message="tns:removecategory"/>
</operation>
<operation name="countevent">
<input wsam:Action="http://ws/AgendaWS/counteventRequest" message="tns:countevent"/>
<output wsam:Action="http://ws/AgendaWS/counteventResponse" message="tns:counteventResponse"/>
</operation>
<operation name="removepreferences">
<input wsam:Action="http://ws/AgendaWS/removepreferences" message="tns:removepreferences"/>
</operation>
<operation name="createpreferences">
<input wsam:Action="http://ws/AgendaWS/createpreferences" message="tns:createpreferences"/>
</operation>
<operation name="findRangecategory">
<input wsam:Action="http://ws/AgendaWS/findRangecategoryRequest" message="tns:findRangecategory"/>
<output wsam:Action="http://ws/AgendaWS/findRangecategoryResponse" message="tns:findRangecategoryResponse"/>
</operation>
<operation name="findRangepreferences">
<input wsam:Action="http://ws/AgendaWS/findRangepreferencesRequest" message="tns:findRangepreferences"/>
<output wsam:Action="http://ws/AgendaWS/findRangepreferencesResponse" message="tns:findRangepreferencesResponse"/>
</operation>
<operation name="findAllpreferences">
<input wsam:Action="http://ws/AgendaWS/findAllpreferencesRequest" message="tns:findAllpreferences"/>
<output wsam:Action="http://ws/AgendaWS/findAllpreferencesResponse" message="tns:findAllpreferencesResponse"/>
</operation>
</portType>
<binding name="AgendaWSPortBinding" type="tns:AgendaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createevent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editusers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countusers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createusers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findusers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllusers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeusers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeusers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findpreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countpreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findcategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countcategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllcategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findevent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editevent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeevent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editcategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editpreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllevent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createcategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="eventByuser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeevent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removecategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countevent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removepreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createpreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRangecategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangepreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllpreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AgendaWS">
<port name="AgendaWSPort" binding="tns:AgendaWSPortBinding">
<soap:address location="http://localhost:8080/AgendaWS/AgendaWS"/>
</port>
</service>
</definitions>