DiarioSur/web/WEB-INF/wsdl/localhost_8080/AgendaWS/AgendaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="AgendaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/AgendaWS/AgendaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"/>
</message>
<message name="removePreferences">
<part name="parameters" element="tns:removePreferences"/>
</message>
<message name="findAllCategories">
<part name="parameters" element="tns:findAllCategories"/>
</message>
<message name="findAllCategoriesResponse">
<part name="parameters" element="tns:findAllCategoriesResponse"/>
</message>
<message name="createPreferences">
<part name="parameters" element="tns:createPreferences"/>
</message>
<message name="findAllPreferences">
<part name="parameters" element="tns:findAllPreferences"/>
</message>
<message name="findAllPreferencesResponse">
<part name="parameters" element="tns:findAllPreferencesResponse"/>
</message>
<message name="findRangePreferences">
<part name="parameters" element="tns:findRangePreferences"/>
</message>
<message name="findRangePreferencesResponse">
<part name="parameters" element="tns:findRangePreferencesResponse"/>
</message>
<message name="findRangeCategories">
<part name="parameters" element="tns:findRangeCategories"/>
</message>
<message name="findRangeCategoriesResponse">
<part name="parameters" element="tns:findRangeCategoriesResponse"/>
</message>
<message name="removeEvent">
<part name="parameters" element="tns:removeEvent"/>
</message>
<message name="findAllEvents">
<part name="parameters" element="tns:findAllEvents"/>
</message>
<message name="findAllEventsResponse">
<part name="parameters" element="tns:findAllEventsResponse"/>
</message>
<message name="countEvents">
<part name="parameters" element="tns:countEvents"/>
</message>
<message name="countEventsResponse">
<part name="parameters" element="tns:countEventsResponse"/>
</message>
<message name="findPreferences">
<part name="parameters" element="tns:findPreferences"/>
</message>
<message name="findPreferencesResponse">
<part name="parameters" element="tns:findPreferencesResponse"/>
</message>
<message name="countPreferences">
<part name="parameters" element="tns:countPreferences"/>
</message>
<message name="countPreferencesResponse">
<part name="parameters" element="tns:countPreferencesResponse"/>
</message>
<message name="editReview">
<part name="parameters" element="tns:editReview"/>
</message>
<message name="editEvent">
<part name="parameters" element="tns:editEvent"/>
</message>
<message name="findAllReviews">
<part name="parameters" element="tns:findAllReviews"/>
</message>
<message name="findAllReviewsResponse">
<part name="parameters" element="tns:findAllReviewsResponse"/>
</message>
<message name="removeReview">
<part name="parameters" element="tns:removeReview"/>
</message>
<message name="createEvent">
<part name="parameters" element="tns:createEvent"/>
</message>
<message name="findRangeReviews">
<part name="parameters" element="tns:findRangeReviews"/>
</message>
<message name="findRangeReviewsResponse">
<part name="parameters" element="tns:findRangeReviewsResponse"/>
</message>
<message name="findEvent">
<part name="parameters" element="tns:findEvent"/>
</message>
<message name="findEventResponse">
<part name="parameters" element="tns:findEventResponse"/>
</message>
<message name="editPreferences">
<part name="parameters" element="tns:editPreferences"/>
</message>
<message name="findReview">
<part name="parameters" element="tns:findReview"/>
</message>
<message name="findReviewResponse">
<part name="parameters" element="tns:findReviewResponse"/>
</message>
<message name="createCategory">
<part name="parameters" element="tns:createCategory"/>
</message>
<message name="createReview">
<part name="parameters" element="tns:createReview"/>
</message>
<message name="countReviews">
<part name="parameters" element="tns:countReviews"/>
</message>
<message name="countReviewsResponse">
<part name="parameters" element="tns:countReviewsResponse"/>
</message>
<message name="findRangeEvents">
<part name="parameters" element="tns:findRangeEvents"/>
</message>
<message name="findRangeEventsResponse">
<part name="parameters" element="tns:findRangeEventsResponse"/>
</message>
<message name="countCategories">
<part name="parameters" element="tns:countCategories"/>
</message>
<message name="countCategoriesResponse">
<part name="parameters" element="tns:countCategoriesResponse"/>
</message>
<message name="removeCategory">
<part name="parameters" element="tns:removeCategory"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="findUser">
<part name="parameters" element="tns:findUser"/>
</message>
<message name="findUserResponse">
<part name="parameters" element="tns:findUserResponse"/>
</message>
<message name="findAllUsers">
<part name="parameters" element="tns:findAllUsers"/>
</message>
<message name="findAllUsersResponse">
<part name="parameters" element="tns:findAllUsersResponse"/>
</message>
<message name="editCategory">
<part name="parameters" element="tns:editCategory"/>
</message>
<message name="countUsers">
<part name="parameters" element="tns:countUsers"/>
</message>
<message name="countUsersResponse">
<part name="parameters" element="tns:countUsersResponse"/>
</message>
<message name="findRangeUsers">
<part name="parameters" element="tns:findRangeUsers"/>
</message>
<message name="findRangeUsersResponse">
<part name="parameters" element="tns:findRangeUsersResponse"/>
</message>
<message name="findCategory">
<part name="parameters" element="tns:findCategory"/>
</message>
<message name="findCategoryResponse">
<part name="parameters" element="tns:findCategoryResponse"/>
</message>
<message name="editUser">
<part name="parameters" element="tns:editUser"/>
</message>
<portType name="AgendaWS">
<operation name="removeUser">
<input wsam:Action="http://ws/AgendaWS/removeUser" message="tns:removeUser"/>
</operation>
<operation name="removePreferences">
<input wsam:Action="http://ws/AgendaWS/removePreferences" message="tns:removePreferences"/>
</operation>
<operation name="findAllCategories">
<input wsam:Action="http://ws/AgendaWS/findAllCategoriesRequest" message="tns:findAllCategories"/>
<output wsam:Action="http://ws/AgendaWS/findAllCategoriesResponse" message="tns:findAllCategoriesResponse"/>
</operation>
<operation name="createPreferences">
<input wsam:Action="http://ws/AgendaWS/createPreferences" message="tns:createPreferences"/>
</operation>
<operation name="findAllPreferences">
<input wsam:Action="http://ws/AgendaWS/findAllPreferencesRequest" message="tns:findAllPreferences"/>
<output wsam:Action="http://ws/AgendaWS/findAllPreferencesResponse" message="tns:findAllPreferencesResponse"/>
</operation>
<operation name="findRangePreferences">
<input wsam:Action="http://ws/AgendaWS/findRangePreferencesRequest" message="tns:findRangePreferences"/>
<output wsam:Action="http://ws/AgendaWS/findRangePreferencesResponse" message="tns:findRangePreferencesResponse"/>
</operation>
<operation name="findRangeCategories">
<input wsam:Action="http://ws/AgendaWS/findRangeCategoriesRequest" message="tns:findRangeCategories"/>
<output wsam:Action="http://ws/AgendaWS/findRangeCategoriesResponse" message="tns:findRangeCategoriesResponse"/>
</operation>
<operation name="removeEvent">
<input wsam:Action="http://ws/AgendaWS/removeEvent" message="tns:removeEvent"/>
</operation>
<operation name="findAllEvents">
<input wsam:Action="http://ws/AgendaWS/findAllEventsRequest" message="tns:findAllEvents"/>
<output wsam:Action="http://ws/AgendaWS/findAllEventsResponse" message="tns:findAllEventsResponse"/>
</operation>
<operation name="countEvents">
<input wsam:Action="http://ws/AgendaWS/countEventsRequest" message="tns:countEvents"/>
<output wsam:Action="http://ws/AgendaWS/countEventsResponse" message="tns:countEventsResponse"/>
</operation>
<operation name="findPreferences">
<input wsam:Action="http://ws/AgendaWS/findPreferencesRequest" message="tns:findPreferences"/>
<output wsam:Action="http://ws/AgendaWS/findPreferencesResponse" message="tns:findPreferencesResponse"/>
</operation>
<operation name="countPreferences">
<input wsam:Action="http://ws/AgendaWS/countPreferencesRequest" message="tns:countPreferences"/>
<output wsam:Action="http://ws/AgendaWS/countPreferencesResponse" message="tns:countPreferencesResponse"/>
</operation>
<operation name="editReview">
<input wsam:Action="http://ws/AgendaWS/editReview" message="tns:editReview"/>
</operation>
<operation name="editEvent">
<input wsam:Action="http://ws/AgendaWS/editEvent" message="tns:editEvent"/>
</operation>
<operation name="findAllReviews">
<input wsam:Action="http://ws/AgendaWS/findAllReviewsRequest" message="tns:findAllReviews"/>
<output wsam:Action="http://ws/AgendaWS/findAllReviewsResponse" message="tns:findAllReviewsResponse"/>
</operation>
<operation name="removeReview">
<input wsam:Action="http://ws/AgendaWS/removeReview" message="tns:removeReview"/>
</operation>
<operation name="createEvent">
<input wsam:Action="http://ws/AgendaWS/createEvent" message="tns:createEvent"/>
</operation>
<operation name="findRangeReviews">
<input wsam:Action="http://ws/AgendaWS/findRangeReviewsRequest" message="tns:findRangeReviews"/>
<output wsam:Action="http://ws/AgendaWS/findRangeReviewsResponse" message="tns:findRangeReviewsResponse"/>
</operation>
<operation name="findEvent">
<input wsam:Action="http://ws/AgendaWS/findEventRequest" message="tns:findEvent"/>
<output wsam:Action="http://ws/AgendaWS/findEventResponse" message="tns:findEventResponse"/>
</operation>
<operation name="editPreferences">
<input wsam:Action="http://ws/AgendaWS/editPreferences" message="tns:editPreferences"/>
</operation>
<operation name="findReview">
<input wsam:Action="http://ws/AgendaWS/findReviewRequest" message="tns:findReview"/>
<output wsam:Action="http://ws/AgendaWS/findReviewResponse" message="tns:findReviewResponse"/>
</operation>
<operation name="createCategory">
<input wsam:Action="http://ws/AgendaWS/createCategory" message="tns:createCategory"/>
</operation>
<operation name="createReview">
<input wsam:Action="http://ws/AgendaWS/createReview" message="tns:createReview"/>
</operation>
<operation name="countReviews">
<input wsam:Action="http://ws/AgendaWS/countReviewsRequest" message="tns:countReviews"/>
<output wsam:Action="http://ws/AgendaWS/countReviewsResponse" message="tns:countReviewsResponse"/>
</operation>
<operation name="findRangeEvents">
<input wsam:Action="http://ws/AgendaWS/findRangeEventsRequest" message="tns:findRangeEvents"/>
<output wsam:Action="http://ws/AgendaWS/findRangeEventsResponse" message="tns:findRangeEventsResponse"/>
</operation>
<operation name="countCategories">
<input wsam:Action="http://ws/AgendaWS/countCategoriesRequest" message="tns:countCategories"/>
<output wsam:Action="http://ws/AgendaWS/countCategoriesResponse" message="tns:countCategoriesResponse"/>
</operation>
<operation name="removeCategory">
<input wsam:Action="http://ws/AgendaWS/removeCategory" message="tns:removeCategory"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://ws/AgendaWS/createUser" message="tns:createUser"/>
</operation>
<operation name="findUser">
<input wsam:Action="http://ws/AgendaWS/findUserRequest" message="tns:findUser"/>
<output wsam:Action="http://ws/AgendaWS/findUserResponse" message="tns:findUserResponse"/>
</operation>
<operation name="findAllUsers">
<input wsam:Action="http://ws/AgendaWS/findAllUsersRequest" message="tns:findAllUsers"/>
<output wsam:Action="http://ws/AgendaWS/findAllUsersResponse" message="tns:findAllUsersResponse"/>
</operation>
<operation name="editCategory">
<input wsam:Action="http://ws/AgendaWS/editCategory" message="tns:editCategory"/>
</operation>
<operation name="countUsers">
<input wsam:Action="http://ws/AgendaWS/countUsersRequest" message="tns:countUsers"/>
<output wsam:Action="http://ws/AgendaWS/countUsersResponse" message="tns:countUsersResponse"/>
</operation>
<operation name="findRangeUsers">
<input wsam:Action="http://ws/AgendaWS/findRangeUsersRequest" message="tns:findRangeUsers"/>
<output wsam:Action="http://ws/AgendaWS/findRangeUsersResponse" message="tns:findRangeUsersResponse"/>
</operation>
<operation name="findCategory">
<input wsam:Action="http://ws/AgendaWS/findCategoryRequest" message="tns:findCategory"/>
<output wsam:Action="http://ws/AgendaWS/findCategoryResponse" message="tns:findCategoryResponse"/>
</operation>
<operation name="editUser">
<input wsam:Action="http://ws/AgendaWS/editUser" message="tns:editUser"/>
</operation>
</portType>
<binding name="AgendaWSPortBinding" type="tns:AgendaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removePreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllPreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangePreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countPreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editReview">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllReviews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeReview">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRangeReviews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editPreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findReview">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createReview">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countReviews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="AgendaWS">
<port name="AgendaWSPort" binding="tns:AgendaWSPortBinding">
<soap:address location="http://localhost:8080/AgendaWS/AgendaWS"/>
</port>
</service>
</definitions>