DiarioSur/web/WEB-INF/wsdl/localhost_8080/AgendaWS/AgendaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="category" type="tns:category"/>

<xs:element name="countCategories" type="tns:countCategories"/>

<xs:element name="countCategoriesResponse" type="tns:countCategoriesResponse"/>

<xs:element name="countEvents" type="tns:countEvents"/>

<xs:element name="countEventsResponse" type="tns:countEventsResponse"/>

<xs:element name="countPreferences" type="tns:countPreferences"/>

<xs:element name="countPreferencesResponse" type="tns:countPreferencesResponse"/>

<xs:element name="countReviews" type="tns:countReviews"/>

<xs:element name="countReviewsResponse" type="tns:countReviewsResponse"/>

<xs:element name="countUsers" type="tns:countUsers"/>

<xs:element name="countUsersResponse" type="tns:countUsersResponse"/>

<xs:element name="createCategory" type="tns:createCategory"/>

<xs:element name="createEvent" type="tns:createEvent"/>

<xs:element name="createPreferences" type="tns:createPreferences"/>

<xs:element name="createReview" type="tns:createReview"/>

<xs:element name="createUser" type="tns:createUser"/>

<xs:element name="editCategory" type="tns:editCategory"/>

<xs:element name="editEvent" type="tns:editEvent"/>

<xs:element name="editPreferences" type="tns:editPreferences"/>

<xs:element name="editReview" type="tns:editReview"/>

<xs:element name="editUser" type="tns:editUser"/>

<xs:element name="event" type="tns:event"/>

<xs:element name="findAllCategories" type="tns:findAllCategories"/>

<xs:element name="findAllCategoriesResponse" type="tns:findAllCategoriesResponse"/>

<xs:element name="findAllEvents" type="tns:findAllEvents"/>

<xs:element name="findAllEventsResponse" type="tns:findAllEventsResponse"/>

<xs:element name="findAllPreferences" type="tns:findAllPreferences"/>

<xs:element name="findAllPreferencesResponse" type="tns:findAllPreferencesResponse"/>

<xs:element name="findAllReviews" type="tns:findAllReviews"/>

<xs:element name="findAllReviewsResponse" type="tns:findAllReviewsResponse"/>

<xs:element name="findAllUsers" type="tns:findAllUsers"/>

<xs:element name="findAllUsersResponse" type="tns:findAllUsersResponse"/>

<xs:element name="findCategory" type="tns:findCategory"/>

<xs:element name="findCategoryResponse" type="tns:findCategoryResponse"/>

<xs:element name="findEvent" type="tns:findEvent"/>

<xs:element name="findEventResponse" type="tns:findEventResponse"/>

<xs:element name="findPreferences" type="tns:findPreferences"/>

<xs:element name="findPreferencesResponse" type="tns:findPreferencesResponse"/>

<xs:element name="findRangeCategories" type="tns:findRangeCategories"/>

<xs:element name="findRangeCategoriesResponse" type="tns:findRangeCategoriesResponse"/>

<xs:element name="findRangeEvents" type="tns:findRangeEvents"/>

<xs:element name="findRangeEventsResponse" type="tns:findRangeEventsResponse"/>

<xs:element name="findRangePreferences" type="tns:findRangePreferences"/>

<xs:element name="findRangePreferencesResponse" type="tns:findRangePreferencesResponse"/>

<xs:element name="findRangeReviews" type="tns:findRangeReviews"/>

<xs:element name="findRangeReviewsResponse" type="tns:findRangeReviewsResponse"/>

<xs:element name="findRangeUsers" type="tns:findRangeUsers"/>

<xs:element name="findRangeUsersResponse" type="tns:findRangeUsersResponse"/>

<xs:element name="findReview" type="tns:findReview"/>

<xs:element name="findReviewResponse" type="tns:findReviewResponse"/>

<xs:element name="findUser" type="tns:findUser"/>

<xs:element name="findUserResponse" type="tns:findUserResponse"/>

<xs:element name="preferences" type="tns:preferences"/>

<xs:element name="removeCategory" type="tns:removeCategory"/>

<xs:element name="removeEvent" type="tns:removeEvent"/>

<xs:element name="removePreferences" type="tns:removePreferences"/>

<xs:element name="removeReview" type="tns:removeReview"/>

<xs:element name="removeUser" type="tns:removeUser"/>

<xs:element name="review" type="tns:review"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="removeReview">
<xs:sequence>
<xs:element name="review" type="tns:review" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="review">
<xs:sequence>
<xs:element name="comment" type="xs:string" minOccurs="0"/>
<xs:element name="event1" type="tns:event" minOccurs="0"/>
<xs:element name="reviewPK" type="tns:reviewPK" minOccurs="0"/>
<xs:element name="score" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="event">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="approved" type="xs:string" minOccurs="0"/>
<xs:element name="author" type="tns:user" minOccurs="0"/>
<xs:element name="category" type="tns:category" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:string" minOccurs="0"/>
<xs:element name="shopUrl" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reviewPK">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="event" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPreferences">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPreferencesResponse">
<xs:sequence>
<xs:element name="return" type="tns:preferences" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="preferences">
<xs:sequence>
<xs:element name="event1" type="tns:event" minOccurs="0"/>
<xs:element name="preferencesPK" type="tns:preferencesPK" minOccurs="0"/>
<xs:element name="user1" type="tns:user" minOccurs="0"/>
<xs:element name="visits" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="preferencesPK">
<xs:sequence>
<xs:element name="event" type="xs:int" minOccurs="0"/>
<xs:element name="user" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPreferences">
<xs:sequence>
<xs:element name="preferences" type="tns:preferences" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeEvent">
<xs:sequence>
<xs:element name="event" type="tns:event" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUser">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCategory">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeReviews">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeReviewsResponse">
<xs:sequence>
<xs:element name="return" type="tns:review" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEvent">
<xs:sequence>
<xs:element name="event" type="tns:event" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countReviews">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countReviewsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createReview">
<xs:sequence>
<xs:element name="review" type="tns:review" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangePreferences">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangePreferencesResponse">
<xs:sequence>
<xs:element name="return" type="tns:preferences" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeUsers">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countCategories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editPreferences">
<xs:sequence>
<xs:element name="preferences" type="tns:preferences" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countUsersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editCategory">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllReviews">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllReviewsResponse">
<xs:sequence>
<xs:element name="return" type="tns:review" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllPreferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllPreferencesResponse">
<xs:sequence>
<xs:element name="return" type="tns:preferences" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findReview">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findReviewResponse">
<xs:sequence>
<xs:element name="return" type="tns:review" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUser">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editReview">
<xs:sequence>
<xs:element name="review" type="tns:review" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUser">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEvent">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEventResponse">
<xs:sequence>
<xs:element name="return" type="tns:event" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePreferences">
<xs:sequence>
<xs:element name="preferences" type="tns:preferences" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllCategories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllEvents">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllEventsResponse">
<xs:sequence>
<xs:element name="return" type="tns:event" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countPreferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countPreferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeEvents">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeEventsResponse">
<xs:sequence>
<xs:element name="return" type="tns:event" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeCategories">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCategory">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCategory">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEvent">
<xs:sequence>
<xs:element name="event" type="tns:event" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countEvents">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countEventsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>