DiarioSur/src/conf/xml-resources/web-service-references/AgendaWS/wsdl/localhost_8080/AgendaWS/AgendaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="category" type="tns:category"/>

<xs:element name="countcategory" type="tns:countcategory"/>

<xs:element name="countcategoryResponse" type="tns:countcategoryResponse"/>

<xs:element name="countevent" type="tns:countevent"/>

<xs:element name="counteventResponse" type="tns:counteventResponse"/>

<xs:element name="countpreferences" type="tns:countpreferences"/>

<xs:element name="countpreferencesResponse" type="tns:countpreferencesResponse"/>

<xs:element name="countusers" type="tns:countusers"/>

<xs:element name="countusersResponse" type="tns:countusersResponse"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="createcategory" type="tns:createcategory"/>

<xs:element name="createevent" nillable="true" type="tns:create"/>

<xs:element name="createpreferences" type="tns:createpreferences"/>

<xs:element name="createusers" type="tns:createusers"/>

<xs:element name="editcategory" type="tns:editcategory"/>

<xs:element name="editevent" type="tns:editevent"/>

<xs:element name="editpreferences" type="tns:editpreferences"/>

<xs:element name="editusers" type="tns:editusers"/>

<xs:element name="event" type="tns:event"/>

<xs:element name="eventByuser" type="tns:eventByuser"/>

<xs:element name="eventByuserResponse" type="tns:eventByuserResponse"/>

<xs:element name="findAllcategory" type="tns:findAllcategory"/>

<xs:element name="findAllcategoryResponse" type="tns:findAllcategoryResponse"/>

<xs:element name="findAllevent" type="tns:findAllevent"/>

<xs:element name="findAlleventResponse" type="tns:findAlleventResponse"/>

<xs:element name="findAllpreferences" type="tns:findAllpreferences"/>

<xs:element name="findAllpreferencesResponse" type="tns:findAllpreferencesResponse"/>

<xs:element name="findAllusers" type="tns:findAllusers"/>

<xs:element name="findAllusersResponse" type="tns:findAllusersResponse"/>

<xs:element name="findRangecategory" type="tns:findRangecategory"/>

<xs:element name="findRangecategoryResponse" type="tns:findRangecategoryResponse"/>

<xs:element name="findRangeevent" type="tns:findRangeevent"/>

<xs:element name="findRangeeventResponse" type="tns:findRangeeventResponse"/>

<xs:element name="findRangepreferences" type="tns:findRangepreferences"/>

<xs:element name="findRangepreferencesResponse" type="tns:findRangepreferencesResponse"/>

<xs:element name="findRangeusers" type="tns:findRangeusers"/>

<xs:element name="findRangeusersResponse" type="tns:findRangeusersResponse"/>

<xs:element name="findcategory" type="tns:findcategory"/>

<xs:element name="findcategoryResponse" type="tns:findcategoryResponse"/>

<xs:element name="findevent" type="tns:findevent"/>

<xs:element name="findeventResponse" type="tns:findeventResponse"/>

<xs:element name="findpreferences" type="tns:findpreferences"/>

<xs:element name="findpreferencesResponse" type="tns:findpreferencesResponse"/>

<xs:element name="findusers" type="tns:findusers"/>

<xs:element name="findusersResponse" type="tns:findusersResponse"/>

<xs:element name="preferences" type="tns:preferences"/>

<xs:element name="removecategory" type="tns:removecategory"/>

<xs:element name="removeevent" type="tns:removeevent"/>

<xs:element name="removepreferences" type="tns:removepreferences"/>

<xs:element name="removeusers" type="tns:removeusers"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="findAllusers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllusersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:int"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editpreferences">
<xs:sequence>
<xs:element name="entity" type="tns:preferences" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="preferences">
<xs:sequence>
<xs:element name="category1" type="tns:category" minOccurs="0"/>
<xs:element name="preferencesPK" type="tns:preferencesPK" minOccurs="0"/>
<xs:element name="user1" type="tns:user" minOccurs="0"/>
<xs:element name="visits" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="preferencesPK">
<xs:sequence>
<xs:element name="category" type="xs:int" minOccurs="0"/>
<xs:element name="user" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findpreferences">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findpreferencesResponse">
<xs:sequence>
<xs:element name="return" type="tns:preferences" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createusers">
<xs:sequence>
<xs:element name="entity" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createpreferences">
<xs:sequence>
<xs:element name="entity" type="tns:preferences" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findcategory">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findcategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removepreferences">
<xs:sequence>
<xs:element name="entity" type="tns:preferences" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeevent">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeeventResponse">
<xs:sequence>
<xs:element name="return" type="tns:event" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="event">
<xs:sequence>
<xs:element name="approved" type="xs:int"/>
<xs:element name="author" type="tns:user" minOccurs="0"/>
<xs:element name="category" type="tns:category" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="score" type="xs:double"/>
<xs:element name="startDate" type="xs:string" minOccurs="0"/>
<xs:element name="urlBuy" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangepreferences">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangepreferencesResponse">
<xs:sequence>
<xs:element name="return" type="tns:preferences" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eventByuser">
<xs:sequence>
<xs:element name="arg0" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eventByuserResponse">
<xs:sequence>
<xs:element name="return" type="tns:event" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeusers">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeusersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findevent">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findeventResponse">
<xs:sequence>
<xs:element name="return" type="tns:event" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countusers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countusersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeusers">
<xs:sequence>
<xs:element name="entity" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeevent">
<xs:sequence>
<xs:element name="entity" type="tns:event" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangecategory">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangecategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editevent">
<xs:sequence>
<xs:element name="entity" type="tns:event" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllevent">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAlleventResponse">
<xs:sequence>
<xs:element name="return" type="tns:event" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllpreferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllpreferencesResponse">
<xs:sequence>
<xs:element name="return" type="tns:preferences" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findusers">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findusersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countevent">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="counteventResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countcategory">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countcategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countpreferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countpreferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createcategory">
<xs:sequence>
<xs:element name="entity" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removecategory">
<xs:sequence>
<xs:element name="entity" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="entity" type="tns:event" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editusers">
<xs:sequence>
<xs:element name="entity" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllcategory">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllcategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editcategory">
<xs:sequence>
<xs:element name="entity" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>