DiarioSur/src/conf/xml-resources/web-service-references/PreferencesWS/wsdl/localhost_8080/PreferencesWS/PreferencesWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="category" type="tns:category"/>

<xs:element name="countPreferences" type="tns:countPreferences"/>

<xs:element name="countPreferencesResponse" type="tns:countPreferencesResponse"/>

<xs:element name="createPreferences" type="tns:createPreferences"/>

<xs:element name="editPreferences" type="tns:editPreferences"/>

<xs:element name="findAllPreferences" type="tns:findAllPreferences"/>

<xs:element name="findAllPreferencesResponse" type="tns:findAllPreferencesResponse"/>

<xs:element name="findPreferences" type="tns:findPreferences"/>

<xs:element name="findPreferencesResponse" type="tns:findPreferencesResponse"/>

<xs:element name="findRangePreferences" type="tns:findRangePreferences"/>

<xs:element name="findRangePreferencesResponse" type="tns:findRangePreferencesResponse"/>

<xs:element name="preferences" type="tns:preferences"/>

<xs:element name="removePreferences" type="tns:removePreferences"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="createPreferences">
<xs:sequence>
<xs:element name="preferences" type="tns:preferences" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="preferences">
<xs:sequence>
<xs:element name="category1" type="tns:category" minOccurs="0"/>
<xs:element name="preferencesPK" type="tns:preferencesPK" minOccurs="0"/>
<xs:element name="user1" type="tns:user" minOccurs="0"/>
<xs:element name="visits" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="preferencesPK">
<xs:sequence>
<xs:element name="category" type="xs:int" minOccurs="0"/>
<xs:element name="user" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:int"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPreferences">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPreferencesResponse">
<xs:sequence>
<xs:element name="return" type="tns:preferences" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangePreferences">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangePreferencesResponse">
<xs:sequence>
<xs:element name="return" type="tns:preferences" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countPreferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countPreferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePreferences">
<xs:sequence>
<xs:element name="preferences" type="tns:preferences" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllPreferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllPreferencesResponse">
<xs:sequence>
<xs:element name="return" type="tns:preferences" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editPreferences">
<xs:sequence>
<xs:element name="preferences" type="tns:preferences" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>