DiarioSur/src/conf/xml-resources/web-service-references/PreferencesWS/wsdl/localhost_8080/PreferencesWS/PreferencesWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="PreferencesWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/PreferencesWS/PreferencesWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editPreferences">
<part name="parameters" element="tns:editPreferences"/>
</message>
<message name="findPreferences">
<part name="parameters" element="tns:findPreferences"/>
</message>
<message name="findPreferencesResponse">
<part name="parameters" element="tns:findPreferencesResponse"/>
</message>
<message name="countPreferences">
<part name="parameters" element="tns:countPreferences"/>
</message>
<message name="countPreferencesResponse">
<part name="parameters" element="tns:countPreferencesResponse"/>
</message>
<message name="createPreferences">
<part name="parameters" element="tns:createPreferences"/>
</message>
<message name="findAllPreferences">
<part name="parameters" element="tns:findAllPreferences"/>
</message>
<message name="findAllPreferencesResponse">
<part name="parameters" element="tns:findAllPreferencesResponse"/>
</message>
<message name="findRangePreferences">
<part name="parameters" element="tns:findRangePreferences"/>
</message>
<message name="findRangePreferencesResponse">
<part name="parameters" element="tns:findRangePreferencesResponse"/>
</message>
<message name="removePreferences">
<part name="parameters" element="tns:removePreferences"/>
</message>
<portType name="PreferencesWS">
<operation name="editPreferences">
<input wsam:Action="http://ws/PreferencesWS/editPreferences" message="tns:editPreferences"/>
</operation>
<operation name="findPreferences">
<input wsam:Action="http://ws/PreferencesWS/findPreferencesRequest" message="tns:findPreferences"/>
<output wsam:Action="http://ws/PreferencesWS/findPreferencesResponse" message="tns:findPreferencesResponse"/>
</operation>
<operation name="countPreferences">
<input wsam:Action="http://ws/PreferencesWS/countPreferencesRequest" message="tns:countPreferences"/>
<output wsam:Action="http://ws/PreferencesWS/countPreferencesResponse" message="tns:countPreferencesResponse"/>
</operation>
<operation name="createPreferences">
<input wsam:Action="http://ws/PreferencesWS/createPreferences" message="tns:createPreferences"/>
</operation>
<operation name="findAllPreferences">
<input wsam:Action="http://ws/PreferencesWS/findAllPreferencesRequest" message="tns:findAllPreferences"/>
<output wsam:Action="http://ws/PreferencesWS/findAllPreferencesResponse" message="tns:findAllPreferencesResponse"/>
</operation>
<operation name="findRangePreferences">
<input wsam:Action="http://ws/PreferencesWS/findRangePreferencesRequest" message="tns:findRangePreferences"/>
<output wsam:Action="http://ws/PreferencesWS/findRangePreferencesResponse" message="tns:findRangePreferencesResponse"/>
</operation>
<operation name="removePreferences">
<input wsam:Action="http://ws/PreferencesWS/removePreferences" message="tns:removePreferences"/>
</operation>
</portType>
<binding name="PreferencesWSPortBinding" type="tns:PreferencesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editPreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findPreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countPreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllPreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangePreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removePreferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="PreferencesWS">
<port name="PreferencesWSPort" binding="tns:PreferencesWSPortBinding">
<soap:address location="http://localhost:8080/PreferencesWS/PreferencesWS"/>
</port>
</service>
</definitions>